/*
* css in index.html 
*/
body {
	height: 100%;
	background-color: #6ebc6c;
	color: #172b4d;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
div#root {
	background-color: #6ebc6c;
	height: 100%;
}
/*
*css in allgroups class
*/
button.add-group-button {
	background-color: hsla(0, 0%, 100%, 0.24);
	cursor: pointer;
	border-radius: 3px;
	height: auto;
	width: 200px;
	min-height: 32px;
	padding: 8px 2px;
	color: #fff;
	font-size: 16px;
	border: none;
	text-align: start;
}
button.add-group-button:hover {
	background-color: hsla(0, 0%, 0%, 0.24);
	color: #fff;
}
p.addcardtxt {
	color: #5e6c84;
	font-size: 14px;
	letter-spacing: 0.04em;
	margin: 2px 0;
	padding: 8px;
	border-radius: 3px;
}
p.addcardtxt:hover {
	background-color: rgba(9, 30, 66, 0.08);
}
/*
* css in group class 
*/
div.group-header {
	padding: 4px;
	position: relative;
	min-height: 20px;
	width: 100%;
}
a.group-dropdown-menu {
	color: black;
	font-size: 14px;
	letter-spacing: 0.04em;
}
a.group-dropdown-menu:hover {
	background-color: #ebeef1;
}
textarea#group-name-show {
	width: 100%;
	background: transparent;
	min-height: 20px;
	max-height: 256px;
	padding: 4px 8px;
	font-weight: 600;
	margin: -4px 0;
	border: none;
}
textarea#group-name-textarea {
	width: 100%;
	background-color: #fff;
	border: none;
	box-shadow: inset 0 0 0 2px #0079bf;
	border-radius: 3px;
	min-height: 20px;
	max-height: 256px;
	padding: 4px 8px;
	font-weight: 600;
	margin: -4px 0;
}
/*
* css in cardSourceBox class 
*/
div.card-in-group {
	padding: 0 4px;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
	cursor: pointer;
	max-width: 300px;
	min-height: 20px;
}
/*
* css in card class 
*/
span.card-icons-hide {
	margin: 6px;
	visibility: hidden;
}
span.card-icons-hide:hover {
	color: #384d79;
	border-radius: 3px;
	opacity: 0.8;
}
p.card-cardname {
	color: black;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.04em;
	margin: 6px;
	padding: 0;
	flex-grow: 1;
	word-wrap: break-word;
	overflow: auto;
}
/*
css in checklist and todo class
*/
div.card-checklist-hover-show-cursor:hover {
	cursor: move;
}

p.card-checklistname {
	color: black;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.04em;
	margin: 0;
	padding: 0;
}
p.todo-text-indent {
	text-indent: 1em;
	display: block;
	word-break: break-word;
	color: #5e6c84;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.04em;
	margin: 0;
	padding-bottom: 2px;
}
p.todo-text-indent:hover,
li.todo-text-indent:hover {
	opacity: 1;
	transform: translate3d(5px, 0, 0);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	cursor: text;
	font-style: italic;
	font-weight: 600;
}

/*
*css in label class
*/
p.card-label-small {
	margin: 0;
	padding: 0;
}
/*
* css in editCard class 
*/
div.arrow {
	visibility: hidden;
}
div.popover-body {
	position: absolute;
	left: 28em;
	top: 10em;
	width: 7em;
	min-height: 3em;
}
.modal-dialog-scrollable .modal-content {
	overflow: visible;
	border: none;
	display: table;
}
div#editCard-modal {
	min-height: 600px;
	max-width: 800px;
}
div#editCard-modal button {
	background-color: #5aac44;
	box-shadow: none;
	border: none;
	color: #fff;
}
div.modal-header {
	padding: 0;
}
div.editCard-modal-header-cover {
	height: 160px;
	background-size: cover;
	padding: 0px;
	border-radius: 3px;
	box-sizing: border-box;
	background-position: center center;
	text-align: center;
	background-repeat: no-repeat;
	color: white;
}
div.editCard-modal-header-cover > button.close {
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	height: 32px;
	overflow: hidden;
	padding: 0;
	margin: 8px;
	width: 32px;
	background-color: rosybrown;
	transition: background-color 85ms, color 85ms;
}
div.modal-body-header {
	margin: 12px 40px 8px 56px;
	min-height: 32px;
}
.modal-main-icon {
	left: 40px;
	position: absolute;
}
div.modal-body-main {
	float: left;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 24px;
	padding: 0 8px 8px 16px;
	width: 552px;
}

div.modal-body p {
	padding-bottom: 3px;
	margin: 0;
}
p#edit-card-group-name {
	color: #5e6c84;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.04em;
}
div.div-u-gutter li.modal-todo {
	color: #5e6c84;
	display: inline-block;
	cursor: pointer;
	word-break: break-word;
	word-wrap: break-word;
	overflow-wrap: break-word;
	min-height: 20px;
	margin: 0 10px;
	padding: 7px 0;
}
div.div-u-gutter li.modal-todo:hover {
	opacity: 1;
	transform: translate3d(5px, 0, 0);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	cursor: text;
	font-style: italic;
	font-weight: 600;
}
div.div-u-gutter input.modal-todo-checkbox {
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;
	box-sizing: border-box;
	line-height: 18px;
	overflow: hidden;
	text-indent: 100%;
	height: 18px;
	width: 18px;
	white-space: nowrap;
	background-color: #fafbfc;
	box-shadow: inset 0 0 0 2px #dfe1e6;
	position: absolute;
	left: 40px;
	margin-top: 10px;
	text-align: center;
}
div.div-u-gutter input.modal-todo-checkbox:checked {
	background-color: #0079bf;
	box-shadow: inset 0 0 0 2px #0079bf;
}
div.modal-body-main div.div-u-gutter {
	margin-top: 8px;
	margin-left: 40px;
	margin-bottom: 30px;
	clear: both;
}
p.main-title {
	font-weight: 600;
	flex-grow: 1;
}
h5.edit-card-name:hover {
	opacity: 0.7;
	transform: translate3d(5px, 0, 0);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	cursor: text;
	font-style: italic;
	font-weight: 600;
}
div.label-and-duedate-div {
	display: block;
	float: left;
	margin: 0 8px 20px 0;
	max-width: 100%;
}
p.label-and-duedate-txt {
	margin-bottom: 3px;
	color: #5e6c84;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
div.modal-body-sidebar {
	float: right;
	padding: 0 16px 8px 8px;
	width: 168px;
}
a.sidebar-links {
	margin-bottom: 10px;
	width: 160px;
	display: flex;
	background-color: rgb(234, 236, 240);
}
span.sidebar-txt {
	color: #5e6c84;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.04em;
}

/*
* css in cover class 
*/
div.div-grid-covers {
	background-color: white;
	width: fit-content;
	border-radius: 4px;
	padding: 0 1em;
}
div.div-grid-covers-images {
	width: 9em;
	margin: 0;
}
div.div-grid-covers-colors {
	width: 18em;
}
img.cover_images {
	width: 100%;
	padding: 0.5em;
	border-radius: 14px;
}
button.cover_colors {
	width: 4em;
	height: 2.5em;
	margin: 2px;
	padding: 1px;
	transition: all 0.3s;
}
